/*html styling*/
body{
    font-family: 'Roboto', sans-serif;
    background-image:url(../img/fullsize/background-img.png)
}
header{
    
    margin: 0px 0px 10px 0px;
    text-align: center;
    background-color: whitesmoke;
    
}
header h1{
     font-family: 'Oswald', sans-serif;
     color: #333;
}

}
figure{
    text-align: center;
    max-width: 1280px;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}
figure a{
    
    border: 2px solid rgb(218,8,8);
    max-width: 256px; 
    background-color: whitesmoke;
}
footer{
    padding: 10vh;
    background-color: #333;
}

/*UIkit styling*/
.uk-card-body{
    padding:0px;
}
.uk-card-title{
    font-size: 1.3em;
    text-align: center;
    color: rgb(218,8, 8);
}
a:-webkit-any-link{
    text-decoration: none;
}

/*lightbox styling*/

.lg-toolbar{
    background-color: whitesmoke;
}

#lg-counter,
.lg-outer .lg-toogle-thumb,
.lg-actions .lg-next:before,
.lg-actions .lg-prev:after,
.lg-toolbar .lg-icon,
.lg-backdrop,
.lg-thumb-item{
    color: rgb(218,8, 8);
}
.lg-toolbar .lg-download {
    display: none;
}

.lg-toogle-thumb lg-icon{
    
}

.lg-outer .lg-toogle-thumb{
    color: rgb(218,8,8);
}