/*html styling*/
body{
    font-family: 'Roboto', sans-serif;
    background-image:url(../img/fullsize/background-img.png)
}
header{
    
    margin: 0px 0px 10px 0px;
    text-align: center;
    background-color: whitesmoke;
    
}
header h1{
     font-family: 'Oswald', sans-serif;
}
li{
    list-style-type: none;
    color: white;
    font-size: 1.4em;
    background: rgb(218,8, 8);
}
figure{
    max-width: inherit;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
figure a{
    padding: 2px;
    border: 3px solid rgb(218,8,8);
    max-width: 200px;    
}
footer{
    padding: 10vh;
    background-color: #333;
}

/*UIkit styling*/
.uk-card-body{
    padding:0px;
}

/*lightbox styling*/
.lg-thumb-item{
    color: rgb(218,8, 8);
}
.lg-toolbar{
    background-color: whitesmoke;
}

.lg-toolbar .lg-icon{
    color: rgb(218,8, 8);
}